<config platform="android" template="android (default)">Created: Tue Oct 6 15:59:02 2015
By: uerceg
Using Template: android (default)

&lt;description to go here><option name="android-icon-dir" value="" fromDef="true"/>
    <option name="android-icon-group" value="-ldpi;&lt;none>;-mdpi;&lt;none>;-hdpi;&lt;none>;-xhdpi;&lt;none>;-xxhdpi;&lt;none>;-xxxhdpi;&lt;none>" fromDef="true"/>
    <option name="android-icon-gallery" value="" fromDef="true"/>
    <option name="android-icon-nonstandard" value="" fromDef="true"/>
    <option name="android-external-res" value="" fromDef="true"/>
    <option name="android-external-assets" value="" fromDef="true"/>
    <option name="android-install-location" value="1" fromDef="true"/>
    <option name="android-pkgname" value="com.adjust.HelloAdjust" fromDef="true"/>
    <option name="icon" value="" fromDef="true"/>
    <option name="splashscreen" value="" fromDef="true"/>
    <option name="splashscreen-use-all" value="" fromDef="true"/>
    <option name="splashscreen-auto-onblack" value="" fromDef="true"/>
    <option name="assets" value="Default" fromDef="true"/>
    <option name="embed-icf" value="" fromDef="true"/>
    <option name="config" value="" fromDef="true"/>
    <option name="name" value="HelloAdjust" fromDef="true"/>
    <option name="caption" value="HelloAdjust" fromDef="true"/>
    <option name="provider" value="adjust" fromDef="true"/>
    <option name="copyright" value="(C) adjust" fromDef="true"/>
    <option name="version" value="1.0.0" fromDef="false"/>
    <option name="version-string" value="" fromDef="true"/>
    <option name="android-manifest" value="AndroidManifest.xml" fromDef="false"/>
    <option name="android-custom-activity" value="" fromDef="true"/>
    <option name="android-extra-manifest" value="" fromDef="true"/>
    <option name="android-extra-application-manifest" value="" fromDef="true"/>
    <option name="android-supports-gl-texture" value="" fromDef="true"/>
    <option name="android-version-name" value="" fromDef="true"/>
    <option name="android-version-code" value="" fromDef="true"/>
    <option name="android-target-sdk-version" value="0" fromDef="true"/>
    <option name="android-min-sdk-version" value="0" fromDef="true"/>
    <option name="android-unsigned" value="" fromDef="true"/>
    <option name="android-tm" value="" fromDef="true"/>
</config>
