<config platform="iphone" template="iphone (default)">Created: Tue Oct 6 15:33:06 2015
By: uerceg
Using Template: iphone (default)

&lt;description to go here><option name="iphone-application-type" value="&quot;universal&quot;" fromDef="true"/>
    <option name="iphone-appid" value="com.adjust.HelloAdjust" fromDef="true"/>
    <option name="iphone-show-status-bar" value="" fromDef="true"/>
    <option name="iphone-uiviewcontroller-based-status-bar" value="" fromDef="true"/>
    <option name="iphone-minimum-ios-version" value="6.0" fromDef="true"/>
    <option name="iphone-icon-dir" value="" fromDef="true"/>
    <option name="iphone-icon-extra" value="" fromDef="true"/>
    <option name="iphone-prerendered-icon" value="" fromDef="true"/>
    <option name="iphone-skip-icon-generation" value="" fromDef="true"/>
    <option name="iphone-launch-dir" value="" fromDef="true"/>
    <option name="iphone-launch-storyboard" value="" fromDef="true"/>
    <option name="iphone-launch-extra" value="" fromDef="true"/>
    <option name="iphone-skip-launch-generation" value="" fromDef="true"/>
    <option name="iphone-disable-launch-images" value="" fromDef="true"/>
    <option name="iphone-allow-launch-rotation" value="" fromDef="true"/>
    <option name="icon" value="" fromDef="true"/>
    <option name="splashscreen" value="" fromDef="true"/>
    <option name="splashscreen-use-all" value="" fromDef="true"/>
    <option name="splashscreen-auto-onblack" value="" fromDef="true"/>
    <option name="assets" value="Default" fromDef="true"/>
    <option name="embed-icf" value="" fromDef="true"/>
    <option name="config" value="" fromDef="true"/>
    <option name="name" value="HelloAdjust" fromDef="true"/>
    <option name="caption" value="HelloAdjust" fromDef="true"/>
    <option name="provider" value="adjust" fromDef="true"/>
    <option name="copyright" value="(C) adjust" fromDef="true"/>
    <option name="version" value="1.0.0" fromDef="false"/>
    <option name="version-string" value="" fromDef="true"/>
    <option name="iphone-region" value="English" fromDef="true"/>
    <option name="iphone-info-plist" value="" fromDef="true"/>
    <option name="iphone-info-plist-override" value="" fromDef="true"/>
    <option name="iphone-info-plist-sniplets" value="" fromDef="true"/>
    <option name="iphone-persistent-wifi" value="" fromDef="true"/>
    <option name="iphone-backgroundmode-audio" value="" fromDef="true"/>
    <option name="iphone-app-fonts" value="" fromDef="true"/>
    <option name="iphone-bundle-localisations" value="" fromDef="true"/>
    <option name="iphone-bundle-url-name" value="" fromDef="true"/>
    <option name="iphone-bundle-url-schemes" value="" fromDef="true"/>
    <option name="itunes-artwork" value="" fromDef="true"/>
    <option name="iphone-nosign" value="" fromDef="true"/>
    <option name="iphone-sign-for-distribution" value="" fromDef="true"/>
    <option name="iphone-testflight" value="" fromDef="true"/>
    <option name="iphone-provisioning-profile" value="" fromDef="true"/>
    <option name="iphone-signing-identity" value="" fromDef="true"/>
</config>
