<config platform="project" template="project (default)">Created: Tue Oct 6 15:33:06 2015
By: uerceg
Using Template: project (default)

&lt;description to go here>
<option name="icon" value="" fromDef="true"/>
    <option name="splashscreen" value="" fromDef="true"/>
    <option name="splashscreen-use-all" value="" fromDef="true"/>
    <option name="splashscreen-auto-onblack" value="" fromDef="true"/>
    <option name="assets" value="Default" fromDef="true"/>
    <option name="embed-icf" value="" fromDef="true"/>
    <option name="config" value="" fromDef="true"/>
    <option name="name" value="HelloAdjust" fromDef="true"/>
    <option name="caption" value="HelloAdjust" fromDef="true"/>
    <option name="provider" value="adjust" fromDef="true"/>
    <option name="copyright" value="(C) adjust" fromDef="true"/>
    <option name="version" value="0.0.1" fromDef="true"/>
    <option name="version-string" value="" fromDef="true"/>
</config>
