[submodule "source/rapidjson"]
	path = source/rapidjson
	url = git@github.com:damucz/rapidjson.git
	branch = master
[submodule "ext/mod-pbxproj"]
	path = ext/mod-pbxproj
	url = git@github.com:kronenthaler/mod-pbxproj.git
	branch = master
